@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

ion-card-content{
    --ion-background-color:white;
    max-height: 100px;
}

.border-right{
    border-right: black;
}

.subheading{
    font-size: small;
}

ion-card-subtitle{
    --ion-font-size:small;
}

ion-icon{
    margin-top: 25px;
}

.space-between{
    margin-right: 5px;
}

h6{
    font-family: 'Montserrat';
}


ion-card{
    --ion-background-color:white;
    font-family: 'Montserrat';
    box-shadow:2px 2px 2px 7px rgba(196, 209, 196, 0.05);
}

.border-right{
    border-right: black;
}

.subheading{
    font-size: small;
}


.bold{
    font-weight: 400;
    // margin-left: 20px;
}

.alignleft{
    margin-right:150px;
    display: flex;
    flex-direction: row;
}

.alignRight{
    display: flex;
    flex-direction: row;
    margin-right:10px;
    margin-left: 10px;
}

img{
    border: 1.5px solid rgba(0,129,0, 0.2);
    border-radius: 50px;
}

.right-border{
    border-right: solid;
    border-right-color: whitesmoke;
    height: auto;
}

@media(min-width:768px) and (max-width:2000px){
        // .centeritems{
        //     width: 50%;
        // }
        .aligntoBottom{
            margin-left: 20px;
        }
        .alignsidebyside{
            display: flex;
            width: auto;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 30px;
            margin-left: 30px;
        }
}