<ion-row>
  <ion-text><h6 class="ion-margin-start bold">Todays Lessons</h6></ion-text> 
</ion-row>
<ion-card *ngFor="let scheduledlessons of scheduledLessons.data" (click)="goToLessonRequest(scheduledlessons)">
  <ion-card-content>
    <ion-row>
      <ion-col>
      <ion-text color="dark"><h2 class="bold">{{scheduledlessons.lessonStartTime}}</h2></ion-text>
    </ion-col>

    <ion-col size="8">
      <ion-text color="dark"><p class="bold">{{scheduledlessons.lessonDate}}</p></ion-text>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
      <ion-text color="dark"><h2 class="bold">{{scheduledlessons.lessonEndTime}}</h2></ion-text>
    </ion-col>

    <ion-col size="8">
      <ion-text color="dark"><p class="bold">{{scheduledlessons.description}}</p></ion-text>
    </ion-col>
      
    </ion-row>
  </ion-card-content>
</ion-card>


