<ion-grid class="ion-no-margin">
  <ion-row>
    <ion-col size="2">
    </ion-col>
    <ion-col size="8">
      <img src="{{image_source}}" width="250px" height="200px"/>
      <input id="imagepicker" type="file" (change)="onFileSelected($event)">
</ion-col>

</ion-row>
</ion-grid>

  <div class="ion-margin-left ion-padding">
    <ion-grid>
      <ion-icon name="person-circle-outline"></ion-icon><ion-label fill="clear" class="ion-margin-bottom"><ion-text color="dark">Name</ion-text>
      </ion-label>
    <ion-row class="ion-margin-left">
      <ion-col size="12">
      <ion-card>
      <ion-input [(ngModel)]="name" ngDefaultControl></ion-input>
    </ion-card>
  </ion-col>
    </ion-row>
    <ion-icon name="time-outline"></ion-icon><ion-label fill="clear" class="ion-margin-top"><ion-text color="dark" >TimeZone</ion-text></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
      <ion-input [(ngModel)]="timeZone" ngDefaultControl></ion-input>
    </ion-card>
  </ion-col>
    </ion-row>


    <ion-icon name="language-outline"></ion-icon><ion-label fill="clear" class="ion-margin-top"><ion-text color="dark" >Language</ion-text></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="language" ngDefaultControl></ion-input>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
          <ion-button color="success" (click)="AddLanguage(language)">Add Field</ion-button>
        </ion-col>
        <ion-item-group *ngIf="languageArr.length">
          <ion-item *ngFor="let language of languageArr">
                <ion-label>{{language}}</ion-label>
          </ion-item>
        </ion-item-group>
    </ion-row>
    </ion-card>
  </ion-col>

    </ion-row>
    <ion-icon name="school-outline"></ion-icon><ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">Dexterity</ion-text></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="dexterity" ngDefaultControl></ion-input>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
          <ion-button color="success" (click)="AddLessons(dexterity)">Add Field</ion-button>
        </ion-col>
        <ion-item-group *ngIf="dexterityArr.length">
          <ion-item *ngFor="let dexterity of dexterityArr">
                <ion-label>{{dexterity}}</ion-label>
          </ion-item>
        </ion-item-group>
    </ion-row>
    </ion-card>
  </ion-col>
    </ion-row>

    <ion-icon name="book-outline"></ion-icon><ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">Type of lessons offered</ion-text></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="type_of_lessons_offered" ngDefaultControl></ion-input>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
          <ion-button color="success" (click)="AddTypesOfLessonsOffered(type_of_lessons_offered)">Add Field</ion-button>
        </ion-col>
        <ion-item-group *ngIf="type_of_lessons_offeredArr.length">
          <ion-item *ngFor="let typeoflessons of type_of_lessons_offeredArr">
                <ion-label>{{typeoflessons}}</ion-label>
          </ion-item>
        </ion-item-group>
    </ion-row>
    </ion-card>
  </ion-col>
   </ion-row>


   <ion-icon name="reader-outline"></ion-icon><ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">Description</ion-text></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
      <ion-input [(ngModel)]="description" ngDefaultControl></ion-input>
    </ion-card>
  </ion-col>
   </ion-row>


   <ion-icon name="ribbon-outline"></ion-icon><ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">Course Association/Affiliation</ion-text></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
      <ion-input [(ngModel)]="affiliation" ngDefaultControl></ion-input>
    </ion-card>
  </ion-col>
   </ion-row>


   <ion-icon name="cash-outline"></ion-icon><ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">Rates</ion-text></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
      <ion-input [(ngModel)]="rates" ngDefaultControl></ion-input>
    </ion-card>
  </ion-col>
   </ion-row>

   <ion-icon name="calendar-outline"></ion-icon><ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">Available Time Slots</ion-text></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="slots" ngDefaultControl></ion-input>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
          <ion-button color="success" (click)="AddAvailableTimeSlots(slots)">Add Field</ion-button>
        </ion-col>
        <ion-item-group *ngIf="timeslots.length">
          <ion-item *ngFor="let slots of timeslots">
                <ion-label>{{slots}}</ion-label>
          </ion-item>
        </ion-item-group>
    </ion-row>
    </ion-card>
  </ion-col>
   </ion-row>


    
  </ion-grid>
  <ion-button expand="full" size="medium" shape="round" class="ion-padding-horizontal ion-margin-top" color="success" (click)="UploadImageAndUpdateProfile()"><ion-text style="font-weight: lighter; font-style: normal; text-transform: none;" >Update Profile</ion-text></ion-button>
  <!-- <ion-button expand="block" size="large" class="ion-padding-horizontal ion-margin-top" shape="round" color="success"><ion-text style="font-weight: lighter; font-style: normal;">Sign in</ion-text></ion-button> -->
  </div>
