<!-- <ion-header>
  <ion-toolbar>
    <ion-title>instructorlessonrequest</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <app-header [showScheduleBar]="false" [SearchBarVisible]="false" [showBackButton]="true"  [showTitle]="true" [title]="title"></app-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card>
            <ion-card-content>
              <ion-card-subtitle>
                <h6 style="font-size: small;">Online Lessons Available > OBS >Verified</h6>
              </ion-card-subtitle>
              <ion-card-title>
              <h1 class="ion-margin-start">Jessica Haines</h1>
            </ion-card-title>
              <ion-text>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                </p>
              </ion-text>
              <ion-row>
                <ion-button color="success">Accept</ion-button>
                <ion-button color="danger">Reject</ion-button>
              <!-- <ion-label style="margin-left: 160px; background: darkgreen;" color="light">$20</ion-label> -->
              
            </ion-row>
            </ion-card-content>
          </ion-card>
          </ion-col>
        </ion-row>


      <ion-row>
        <ion-col>
          <ion-card>
      <ion-card-content>
        <ion-card-subtitle>
          <h6 style="font-size: small;">Online Lessons Available > OBS >Verified</h6>
        </ion-card-subtitle>
        <ion-card-title>
        <h1 class="ion-margin-start">Jessica Haines</h1>
      </ion-card-title>
        <ion-text>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          </p>
        </ion-text>
        <ion-row>
          <ion-button color="success">Accept</ion-button>
          <ion-button color="danger">Reject</ion-button>
        <!-- <ion-label style="margin-left: 160px; background: darkgreen;" color="light">$20</ion-label> -->

      </ion-row>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>
    </ion-grid>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>

