@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
ion-card{
    --ion-background-color:white;
}

.border-right{
    border-right: black;
}

.subheading{
    font-size: small;
}

ion-card-subtitle{
    --ion-font-size:small;
}

ion-icon{
    margin-top: 25px;
}

.space-between{
    margin-right: 5px;
}

.small-size{
    font-size: x-small;
}

ion-content{
    --ion-background-color: whitesmoke;
}

ion-header{
    --ion-background-color: whitesmoke;
    position: fixed;
}

.bold{
    font-weight: bold;
    // margin-left: 20px;
}

ion-title{
    font-family: 'Montserrat';
}

ion-toolbar{
    --ion-background-color:whitesmoke;
    z-index: -1;
}

h1{
    color: #146545;
    font-size: 30px;
}

h6{
    color: #146545;
}

.primary{
    color: #146545;
}

.no-shadow{
    --box-shadow:none;
    
}

div{
    margin-top: 15px;
}

ion-text{
    font-size: medium;
    text-transform: none;
}

ion-button{
    font-family: 'Montserrat';
}

.buttonActive{
    background-color: #146545;
    border: none;
    border-radius: 40%;
 
}
.switchViewText{
    color: yellow;
}

p{
    font-size: x-small;
}
@media(min-width:768px) and (max-width:2000px){
#dayBtn{
    margin-left: 400px;
}

p{
    font-size: small;
}

#weekBtn{
    margin-left: 500px;
}
#pagetitle{
   margin-right: 500px; 
   margin-bottom: 8px;
}
}