ion-card{
    --ion-background-color:white;
    box-shadow: none;
}

.border-right{
    border-right: black;
}

.subheading{
    font-size: small;
}

ion-card-subtitle{
    --ion-font-size:small;
}

ion-icon{
    margin-top: 25px;
}

.space-between{
    margin-right: 5px;
}

.small-size{
    font-size: x-small;
}

ion-segment {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

.no-shadow{
    --box-shadow: none;
}

ion-button{
    font-family: 'Montserrat';
}

.isActive{
    background:#146545;
    color: white;
    font-weight: bold;
}

@media(min-width:768px) and (max-width:1455px){
    
}