<ion-card *ngIf="flag">
  <!-- <ion-card-header>
    
  </ion-card-header> -->

  <ion-card-content>
    <ion-button class="ion-no-shadow" size="large" color="light">
      <ion-text>
        <h1 class="bold">24</h1>
        <p>fri</p>
      </ion-text>
    </ion-button>
    <ion-button size="large" color="light">
      <ion-text>
        <h1 class="bold">25</h1>
        <p>sat</p>
      </ion-text>
    </ion-button>
    <ion-button size="large" color="light">
      <ion-text>
        <h1 class="bold">26</h1>
        <p>sun</p>
      </ion-text>
    </ion-button>
    <ion-button size="large" color="light">
      <ion-text>
        <h1 class="bold">27</h1>
        <p>mon</p>
      </ion-text>
    </ion-button>
  </ion-card-content>
</ion-card>


<ion-card class="ion-no-margin" *ngIf="!flag">
  <ion-card-content>
    <ion-row>
    <ion-button class="ion-no-shadow" size="large" color="light">
      <ion-text>
        <h6 class="small-size">Mon-Sun</h6>
        <p class="small-size">20 July to  26 july</p>
      </ion-text>
    </ion-button>
    <ion-button size="large" color="light">
      <ion-text>
        <ion-text>
          <h6 class="small-size">Mon-Sun</h6>
          <p class="small-size">13 July to  19 july</p>
        </ion-text>
      </ion-text>
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button size="large" color="light">
      <ion-text>
        <ion-text>
          <h6 class="small-size">Mon-Sun</h6>
          <p class="small-size">27 July to  2 Aug</p>
        </ion-text>
      </ion-text>
    </ion-button>
    <ion-button size="large" color="light">
      <ion-text>
        <ion-text>
          <h6 class="small-size">Mon-Sun</h6>
          <p class="small-size">6 july to 12 july</p>
        </ion-text>
      </ion-text>
    </ion-button>
  </ion-row>
  </ion-card-content>
</ion-card>