<!-- <ion-header>
  <ion-toolbar>
    <ion-title>lessonrequest</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-title>
    <ion-grid>
      <ion-row>
        <!-- <app-dayview></app-dayview> -->
        <ion-col size="4">
          <ion-icon name="arrow-back" color="success" class="ion-margin-top" (click)="goBack()"></ion-icon>
        </ion-col>
             <!-- <ion-input placeholder="Search For Instructors" class="ion-margin-bottom ion-margin-bottom"></ion-input>
             <ion-button fill="clear">
             <ion-icon name="search" color="success"></ion-icon>  
            </ion-button> -->
            <!-- <ion-text color="success" class="ion-text-start ion-no-margin"><h1>Lesson Request</h1></ion-text> -->
      </ion-row>
    </ion-grid>
  </ion-title>

  <!-- <app-lessonrequest></app-lessonrequest> -->
  <div class="timer-overlay" (click)="unsetflag()" padding *ngIf="flag"></div>
  <app-timepicker *ngIf="flag" (startAndEndTimeEmit)="selectTime($event)"></app-timepicker>
  <app-instructordescription (displayDatePickerOverlay)="unhideCalendar($event)" [instructorDescription]="selectedInstructor" [id]="instructorID" (displayTimerOverlay)="displayTimer($event)" [scheduledLessonFullStartAndEndDate]="scheduledLessonFullStartAndEndDate"></app-instructordescription>
  <div class="calendar-overlay" (click)="hideOverlay()" padding *ngIf="!overlayHidden"></div>
  <ngb-datepicker  
  *ngIf="!overlayHidden"  
  (dateSelect)="onDateSelect($event)"  
  ngdefaultControl>
</ngb-datepicker>
</ion-content>
