ion-card-content{
    --ion-background-color:white;
}

.border-right{
    border-right: black;
}

.subheading{
    font-size: small;
}

ion-card-subtitle{
    --ion-font-size:small;
}

ion-icon{
    margin-top: 25px;
}

.space-between{
    margin-right: 5px;
}

ion-card{
    --ion-background-color:white;
    height:80px;
}

.border-right{
    border-right: black;
}

.subheading{
    font-size: small;
}


.bold{
    font-weight: bold;
    // margin-left: 20px;
}

.alignleft{
    margin-right:150px;
    display: flex;
    flex-direction: row;
    height: 0px;
}

.alignRight{
    display: flex;
    flex-direction: row;
    margin-right:10px;
    margin-left: 10px;
}

.rounded{
    border: gray;
    border-radius: 50%;
}

.right-border{
    border-right: solid;
    border-right-color: whitesmoke;
}


@media(min-width:768px) and (max-width:1455px){
    .centeritems{
        width: 30%;
        margin-left: 350px;
    }
    .aligntoBottom{
        margin-left: 20px;
    }
}