<ion-grid>
<div *ngFor="let lessons of weekLessons">
<ion-row> 
  <ion-text><h6 class="ion-margin-start bold">Friday 18 July, Lessons</h6></ion-text> 
  </ion-row>
  <ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col>
      <ion-text color="dark"><h2 class="bold">8:00AM</h2></ion-text>
    </ion-col>
  
  
      <ion-col size="8">
      <ion-text color="dark"><p class="bold">{{lessons.description}}</p></ion-text>
    </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
      <ion-text color="dark"><h2 class="bold">10:00AM</h2></ion-text>
    </ion-col>
  
  
      <ion-col size="8">
      <ion-text color="dark"><p class="bold">Gabriel Sutton</p></ion-text>
    </ion-col>
    </ion-row>
  </ion-card-content>
  </ion-card>
</div>
</ion-grid>
  
  