ion-card{
    background: white;
}
ion-input{
    background-color: whitesmoke;
    border: none;
    border-radius: 5%;
}




#no-shadow{
    box-shadow:none;
    background-color: whitesmoke;
}


@media(min-width:768px) and (max-width:1455px){
    ion-button{
        margin-left: 300px;
    }
}