<ion-card class="ion-no-margin">
  <ion-card-content>
    <ion-input placeholder="Write a Comment" [(ngModel)]="message">
      <ion-button (click)="AddComments()" color="light">
      <ion-icon name="add-circle" size="large"></ion-icon>
    </ion-button>
    </ion-input>
    <ion-card id="no-shadow" *ngFor="let comment of comments">
      <ion-card-header>

      </ion-card-header>
      <ion-card-content>
        <ion-text color="dark">{{comment.message}}</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-card>