<div class="ion-margin-top ion-margin-left ion-padding centeritems">
  <ion-grid>
    <ion-label fill="clear" class="ion-margin-bottom ion-no-border" style="color:darkgrey">Username or email</ion-label>
  <ion-row class="ion-margin-left">
    
    <ion-icon color="success" name="person-outline" class="ion-margin-top"></ion-icon><ion-input class="border-bottom" type="email" placeholder="Your email" autocapitalize="off" aria-autocomplete="on" [(ngModel)]="user.email"></ion-input>
  </ion-row>
  <ion-label fill="clear" class="ion-margin-top" style="color:darkgrey">Password</ion-label>
  <ion-row class="ion-margin-top ion-margin-left">
    <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon>
    <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
  </ion-row>
  <a class="ion-margin-right alignright" style="color: #146545; margin-bottom:5%; margin-left: 150px;" [routerLink]="['verification']">Forgot Password?</a>
</ion-grid>
</div>

<ion-button expand="block" size="large" class="ion-padding-horizontal ion-margin-top" shape="round" color="success" (click)="login()"><ion-text style="font-weight: lighter; font-style: normal;">Sign in</ion-text></ion-button>