// input.native-input.sc-ion-input-md {
//     border-bottom: 1px solid #6be09a !important;
// }


ion-content{
   --ion-background-color: whitesmoke;
}

.active{
    background: #146545;
    border: none;
    border-radius: 15%;
    height: 50px;
    width: 90px;
    ion-text{
        color: white;
    }
}

// .moveactive{
//     margin-left:20px;
//     width: 50px;
//      height:2px;
//      background: #146545;
// }









