// input.native-input.sc-ion-input-md {
//     border-bottom: 1px solid #6be09a !important;
// }


ion-content{
   --ion-background-color: whitesmoke;
}
img{
    margin-left: 10%;
}
ion-button{
    text-transform: none;
}
.active{
    background: #146545;
    border: none;
    border-radius: 15%;
    height: 50px;
    width: 90px;
    ion-text{
        color: white;
    }
}

@media(min-width:768px) and (max-width:2000px){
    .center{
        margin-left: 500px; 
    }
    div{
        margin-right: 10%;
        margin-top:1%;
    }
}

// .moveactive{
//     margin-left:20px;
//     width: 50px;
//      height:2px;
//      background: #146545;
// }









