<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar> -->

</ion-header>

<ion-content [fullscreen]="true">
    <app-header [showScheduleBar]="false" [SearchBarVisible]="false" [showTitle]="true" [title]="title" [showBackButton]="true"></app-header>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
<div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="{{photo_URL}}" width="140px" height="120px">
      </ion-col>
      <ion-col class="ion-margin-top">
        <ion-text><h5 id="name">{{user.name}}</h5></ion-text>
        <ion-text><p style="font-size: x-small;" id="email">{{user.email}}</p></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-card class="decreasewidth">
      <ion-card-content>
        <ion-grid>
          <ion-row>
          <ion-col size="6">
            <a (click)="goToEditProfile()">Edit Profile</a>
          </ion-col>
            <ion-col size="6">
            <ion-icon name="chevron-forward-outline" color="success" style="margin-left:100px;" (click)="goToEditProfile()"></ion-icon>
          </ion-col>
          <ion-icon id="editprofileicon" name="pencil-outline" style="position: relative; bottom: 20px; right: 15px;"></ion-icon>
        </ion-row>
          <ion-row class="ion-margin-top">
            <ion-col size="6">
            <ion-text><a (click)="goToChangePassword()">Change Password</a></ion-text>
          </ion-col>
            <ion-col size="6">
            <ion-icon name="chevron-forward-outline" color="success"  style="margin-left:100px;" (click)="goToChangePassword()"></ion-icon>
          </ion-col>
          </ion-row>
          <ion-icon id="passowrdicon" class="setpassowrdiconpos" name="shield-checkmark-outline" style="position: relative; bottom: 25px; right: 12px;"></ion-icon>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-card (click)="logout()" class="decreasewidth">
    <ion-card-content>
      <p>Logout</p>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
