<div class="ion-margin-left ion-padding">
  <ion-grid>
    <ion-icon name="lock-open-outline" *ngIf="!verificationActive"></ion-icon><ion-label fill="clear" class="ion-margin-bottom" *ngIf="!verificationActive"><ion-text color="dark">Current Password</ion-text></ion-label>
  <ion-row class="ion-margin-left" *ngIf="!verificationActive">
    <ion-col size="12">
    <ion-card>
    <ion-input type="password" [(ngModel)]="currentPassword" ngDefaultControl></ion-input>
  </ion-card>
</ion-col>
  </ion-row>
  <ion-icon name="lock-open-outline"></ion-icon><ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">New Password</ion-text></ion-label>
  <ion-row class="ion-margin-left">
    <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
    <ion-col size="12">
    <ion-card>
    <ion-input type="password" [(ngModel)]="newPassword" ngDefaultControl></ion-input>
  </ion-card>
</ion-col>
  </ion-row>

  <ion-label fill="clear" class="ion-margin-top" style="color:darkgrey"><ion-text color="dark">Repeat Password</ion-text></ion-label>
  <ion-row class="ion-margin-left">
    <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
    <ion-col size="12">
    <ion-card>
    <ion-input type="password" [(ngModel)]="newPassword" ngDefaultControl></ion-input>
  </ion-card>
</ion-col>
  </ion-row>
</ion-grid>
<ion-button expand="full" size="large" shape="round" class="ion-padding-horizontal ion-margin-top" color="success" (click)="ChangePassword()"><ion-text style="font-weight: lighter; font-style: normal; text-transform: none;">Change Password</ion-text></ion-button>
</div>
