ion-card{
    --ion-background-color:white;
    box-shadow: none;
}

.border-right{
    border-right: black;
}

.subheading{
    font-size: small;
}

ion-card-subtitle{
    --ion-font-size:small;
}

ion-icon{
    margin-top: 25px;
}

.space-between{
    margin-right: 5px;
}

.small-size{
    font-size: x-small;
}

.no-shadow{
    --box-shadow: none;
}

@media(min-width:768px) and (max-width:2000px){   
ion-card{
    width: 40%;
    margin-left:350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}