.align-center{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.bottom-margin{
    margin-bottom: 20%;
}

ion-input{
    margin-bottom:5%;
    border-bottom: 1px solid black!important;
}
ion-label{
    margin-bottom: 15%;
}

ion-toggle{
    margin-bottom: 5%;
}

ion-button{
    text-transform: none;
}

@media(min-width:768px) and (max-width:2000px){
    .centeritems{
        width: 40%;
        margin-left: 350px;
    }
    ion-button{
        width: 25%;
        margin-left: 440px;
    }
}