/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.text-primary{
    color:#146545;
}
.background-primary{
    background-color: whitesmoke;
}

.text-secondary{
    color: yellow;
}

.background-secondary{
    background: yellow;
}

.bold{
 font-weight: bold;   
}


ngb-datepicker {
    position: absolute;
    background-color: white;

    .ngb-dp-header {
        background-color: #146545;
    }

    // select {
    //     background-color: yellow;
    //     color:yellow ;
    // }
    .ngb-dp-weekdays{
        background-color: #146545;
    }
    .small{
        color: yellow;
    }
    .ngb-dp-navigation-chevron{
        background-color: #146545;
    }
    .btn-link{
        color: yellow;
    }
    .btn-white{
        background-color: yellow;
    }
}

.custom-day:hover {
    background-color: yellow;
  }

.bg-primary{
    background-color: yellow;
}


[ngbDatepickerDayView] {
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: .25rem;
    background: 0 0;
    .bg-primary{
        background-color: yellow;
    }
}


