<ion-content>

  <app-header [showScheduleBar]="true" [showTitle]="false" (switchView)="setFlag($event)" (switchView)="unsetFlag($event)" [SearchBarVisible]="false" [showBackButton]="false" (calendarModalDisplayEvent)="displayCalendarModal($event)"></app-header>

  
  <app-lessons-bar [dates]="dates" (dateEmitEvent)="getDayData($event)" *ngIf="flag"></app-lessons-bar>
  <app-weeklessonsbar *ngIf="!flag" (emitWeekNo)="getWeekData(view,$event)" [weekDates]="weeks"></app-weeklessonsbar>
  <ion-grid *ngIf="flag">
  <div class="my-overlay" (click)="hideOverlay()" padding *ngIf="!overlayHidden"></div>
  <ngb-datepicker 
  #dp [class.bg-primary]="selected" 
  *ngIf="!overlayHidden" 
  [(ngModel)]="date" 
  (dateSelect)="onDateSelect($event)"  
  ngdefaultControl>
</ngb-datepicker>
<app-dayview [scheduledLessons]="dayArray" (navigateToLessonDetails_Event)="navigateToLessonDetailPage()"></app-dayview>
</ion-grid>


<ion-grid *ngIf="!flag">
  <div class="my-overlay" (click)="hideOverlay()" padding *ngIf="!overlayHidden"></div>
  <ngb-datepicker 
  #dp [class.bg-primary]="selected" 
  *ngIf="!overlayHidden" 
  [(ngModel)]="date" 
  (dateSelect)="onDateSelect($event)"  
  ngdefaultControl>
</ngb-datepicker>
<app-weekview [weekLessons]="weekArray"></app-weekview>
</ion-grid>
<app-loader *ngIf="loading"></app-loader>
</ion-content>
