#yourVideo {
    background-color: #ddd;
    border-radius: 7px;
    // margin: 10px 0px 0px 10px;
    width: 360px;
    height: 640px;
    position: absolute;
    top: 1px;
    // right: 5px;
    z-index: 2;
  }

  #friendsVideo {
    background-color: #ddd;
    border-radius: 7px;
    // margin: 10px 0px 0px 10px;
    width: 360px;
    height: 640px;
    position: absolute;
    top: 1px;
    right: 5px;
    z-index: 2;
  }
  ion-button {
    // margin: 5px 0px 0px 10px !important;
    // width: 654px;
    border: none;
    border-radius: 80%;
    left: 120px;
    position: absolute;
    z-index: 3;
  }