<div>
  <video id="remote" controls autoplay #remote></video>
  <video id="me" controls autoplay #me></video>
  <br />
  <ion-row>
    <ion-col>
      <ion-button class="recording" color="danger" *ngIf="role==='instructor'&&!recordingActive" (click)="successCallback(localStream);activateRecording()"><h3><ion-icon name="radio-button-on-outline"></ion-icon></h3>
      </ion-button>
      <ion-button class="recording" color="success" *ngIf="recordingActive" (click)="stopRecording()"><ion-icon name="radio-button-on-outline"></ion-icon></ion-button>   
    </ion-col>
    <ion-col>
      <ion-icon name="videocam-outline" id="VideoOn" (click)="turnOnVideo()"></ion-icon>    
    </ion-col>
  <ion-button class="endCall" color="danger" (click)="endCall()"></ion-button>
  <ion-col>
  <ion-icon name="mic-outline" id="AudioOn" (click)="turnOnAudio()"></ion-icon>
</ion-col>
</ion-row>
</div>
